.homie{
    height: 100vh;
    position: relative;
    &_scales{
        position: fixed;
        top:-20px;
        left:2%;
        width: 200px;
        height: 200px;
        display: grid;
        align-items: center;
        &_double{
            position: relative;
            #moneyleft, #moneyright{
                position: absolute;
                top: -40px;
                width: 40px;
                height: 40px;
            }
            #moneyright{
                right: 10px;
            }
        }
        img{
            object-fit: contain;
            width: 100%;
            height: auto;
        }
        #center{
            position: absolute;
            width: 25%;
            height: auto;
            left: 37.5%;
            top: 34%;
        }
    }
    &_motto{
        height: 132px;
        position: relative;
        img{
            position: absolute;
            top:20px;
            right: 3vw;
            width: 60%;
            object-fit: cover;
            z-index: 99 !important;
        }
    }
    &_intro{
        position: relative;
        top: 30px;
        padding: 40px 80px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        display: flex;
        align-items: center;
        &_shell{
            display: flex;
            align-items: center;
            column-gap: 20px;
            border: 2px solid red;
            overflow: hidden;
            position: relative;
            &_each{
                border: 2px solid white;
                height: 450px;
                width: 20vw;
                min-width: 350px;
            }
        }
        #back, #forth{
            position: absolute;
            left: 30px;
            //border: 2px solid white;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: grid;
            justify-content: center;
            align-items: center;
            color: silver;
            font-size: 35px;
            cursor: pointer;
            &:hover{
                background-color: black;
            }
        }
        #forth{
            left: unset;
            right: 30px;
        }
    }
}
























#centercenter{
    background: radial-gradient(circle at center,var(--focus_color), var(--transition_color));
}
#centertop{
    background: radial-gradient(circle at center 0%,var(--focus_color), var(--transition_color));
}
#centerbottom{
    background: radial-gradient(circle at center 100%,var(--focus_color), var(--transition_color));
}


#leftleft{
    background: radial-gradient(circle at left, var(--focus_color), var(--transition_color));
}
#lefttop{
    background: radial-gradient(circle at left 0%, var(--focus_color), var(--transition_color));
}#leftbottom{
    background: radial-gradient(circle at left 100%, var(--focus_color), var(--transition_color));
}


#rightright{
    background: radial-gradient(circle at right, var(--focus_color), var(--transition_color));
}
#righttop{
    background: radial-gradient(circle at right 0%, var(--focus_color), var(--transition_color));
}
#rightbottom{
    background: radial-gradient(circle at right 100%, var(--focus_color), var(--transition_color));}
