
.slider{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    #back{
        position: absolute;
        left: 20px;
        z-index: 90 !important;
        display: grid;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: none;
        cursor: pointer;
        background-color: white;
        color: black;
        border: 2px solid black;
        &:hover{
            background-color: black;
            color: white;
        }
    }
    &_topBanner{
        display: flex;
        align-items: center;
        overflow: hidden;
        z-index: 1 !important;
        width: calc(100vw - 130px);
        &_menu{
            display: flex;
            position: relative;
            white-space: nowrap !important;
            column-gap: 20px;
            &_double{
                button{
                    background: transparent;
                    border: none;
                    position: relative;
                    display: grid;
                    align-items: center;
                    padding-bottom: 5px;
                    img{
                        object-fit: contain;
                        width: 70px;
                        height: 50px;
                    }
                    #text, #hide{
                        position: absolute;
                        display: grid;
                        justify-self: center;
                        border: 2px solid black;
                        background-color: silver;
                        font-size: medium;
                        padding: 2px 0;
                        width: 100%;
                        overflow: hidden;
                        animation: enlarge 0.3s 1;
                    }
                    #hide{
                        display: none;
                    }

                }
            }
        }
        #name{
            position: absolute;
            right:20px;
            #forward{
                position: relative;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: grid;
                justify-content: center;
                align-items: center;
                border: none;
                color: silver;
                cursor: pointer;
                background-color: white;
                color: black;
                border: 2px solid black;
                &:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}

@keyframes enlarge {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }   
}




@media (max-width: 499px) { 
    .slider{
        top:0;
        #back{
            display: none;
        }
        &_topBanner{
            overflow: scroll;
            padding: 10px;
            width: 100%;
            #name{
                display: none;
            }
        }
    }
 }