
.slider{
    position: relative;
    top:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px;
    #back{
        position: absolute;
        left: 20px;
        z-index: 90 !important;
        height: 80px;
        display: grid;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: none;
        cursor: pointer;
        background-color: white;
        color: black;
        border: 2px solid black;
        font-size: 25px;
        &:hover{
            background-color: black;
            color: white;
        }
        img{
            width: 15px;
            height: 15px;
            object-fit: contain;
        }
    }
    &_topBanner{
        display: flex;
        align-items: center;
        overflow: hidden;
        z-index: 1 !important;
        padding-left: 10px;
        width: calc(100vw - 130px);
        padding-top: 20px;
        padding-bottom: 20px;
        &_menu{
            display: flex;
            column-gap: 20px;
            position: relative;
            white-space: nowrap !important;
            &_double{
                display: grid;
                padding: 5px 10px;
                box-shadow: 0px 0px 4px 1px white;
                background-color: rgba(0, 0, 0, 0.1);
                height: 350px;
                width: 275px;
                border-radius: 10px;
                &_country{
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 50px;
                    white-space: wrap !important;
                    text-align: center;
                }
                &_info{
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    font-size: x-large;
                    position: relative;
                    box-shadow: 0px 0px 4px 0px black;
                    border-radius: 5px;
                    position: relative;
                    height: 50px;
                    &_result{
                        position: absolute;
                        top:60px;
                        padding: 5px 10px;
                        width: 100%;
                        font-size: large;
                    }
                }
            }
        }
        #name{
            position: absolute;
            right:20px;
            #forward{
                position: relative;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: grid;
                justify-content: center;
                align-items: center;
                border: none;
                color: silver;
                cursor: pointer;
                background-color: white;
                color: black;
                border: 2px solid black;
                font-size: 25px;
                &:hover{
                    background-color: black;
                    color: white;
                }
                img{
                    width: 15px;
                    height: 15px;
                    object-fit: contain;
                }
            }
        }
    }
}


@media (max-width: 499px) { 
    .slider{
        top:20px;
        #back{
            display: none;
        }
        &_topBanner{
            overflow: scroll;
            padding: 10px;
            width: 100%;
            &_menu{
                &_double{
                    width: calc(95vw - 30px);
                    height: 350px;
                    &_country{
                        font-size: 40px;
                    }
                    &_info{
                        height: 50px;
                        bottom: 10px;
                    }
                }
            }
            #name{
                display: none;
            }
        }
    }
 }
